@import url("https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,500,600,700&display=swap");
@import "tailwindcss/base";

@import "tailwindcss/components";

.section {
    @apply px-4 py-16 mx-auto max-w-7xl w-full;

    @screen sm {
        @apply px-6;
    }

    @screen md {
        @apply py-20;
    }

    @screen lg {
        @apply px-8 py-24;
    }
}

.carousel-container {
    overflow-y: hidden;
    height: 100%;
    margin-bottom: -24px;
}

.carousel-list {
    display: flex;
    padding-bottom: 24px;
    margin-bottom: -24px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.carousel-list > * {
    scroll-snap-align: start;
    flex-shrink: 0;
}

progress {
    @apply h-2;
}
progress::-webkit-progress-bar {
    @apply bg-gray-900;
    @apply rounded;
}
progress::-webkit-progress-value {
    @apply bg-indigo-700;
    @apply rounded;
}
progress::-moz-progress-bar {
}

@import "tailwindcss/utilities";
.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.shadow-solid {
    box-shadow: 0 0 0 2px currentColor;
}
